* {
  margin: 0 auto;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  margin-top: 10vh;
  /* background-color: #f4f4f4; */
  background: linear-gradient(-45deg, #000000, #6e5c41, #b37a25, #f79707);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  font-family: 'Belleza', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
} */

@keyframes gradient {
0% {
	background-position: 0% 50%;
}
50% {
	background-position: 100% 50%;
}
100% {
	background-position: 0% 50%;
}
}

h1,
p,
a,
span {
  color: #fff;
  letter-spacing: 0.02em;
  font-weight: 600;
}

h1,
p,
a {
  padding: 0px 40px;
}

a:hover {
	color: #eeab30;
	text-decoration: none;
}

h1 {
  font-size: 2.8em;
}

p {
  font-size: 1.5em;
  line-height: 25px;
}

button {
  border: 0;
  border-radius: 26px;
  padding-bottom: 2px;
}

span {
  font-size: 1.6em;
}

.container,
.flip-box,
.front,
.back {
  width: 350px;
  height: 500px;
}

.container,
.flip_box {
  position: relative;
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.container {
  -moz-transform: perspective(1200px);
  -webkit-perspective: 1200px;
  perspective: 1200px;
  margin: auto;
  padding: 0%;
}

.flip_box {
  transition: all 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front {
  background-color: #281f19;
  /* background-image: url('../fmp.png'); */
  /* background-position: center;
  background-size: cover; */
  background-repeat: no-repeat; 
}

.f_title {
  padding-top: 30px;
}

.f_subline {
  padding-top: 205px;
  color: #B1D4E8;
}

.f_headline {
  line-height: 23px;
  color: #cfa250;
}

.back {
  background-color: #4d3b30;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.b_headline {
  padding-top: 50px;
}

.b_text {
  font-size: 1.5em;
  line-height: 28px;
  padding-top: 10px;
  /* opacity: 0.85; */
}

.fas {
  font-size: large;
}

.b_button {
  position: absolute;
  left: 36px;
  bottom: 38px;
  width: 150px;
  height: 52px;
  background-color: #eeab30;
  transition: all 0.3s;
}

.b_button:hover {
  background-color: #eeab30;
}

.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.r_wrap {
  position: absolute;
  right: 40px;
  bottom: 38px;
}

.b_round,
.s_round {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #eeab30;
  transition: all 0.2s linear;
}

.b_round {
  opacity: 0;
  background-color: #eeab30;
}

.b_round_hover {
  transform: scale(1.37);
  opacity: 0.4;
}

.b_round_back_hover {
  background-color: #eeab30;
}

.s_round_click {
  transform: scale(1.7);
}

.s_round_back {
  background-color: #eeab30;
}

.s_arrow {
  width: 52px;
  height: 52px;
  background-image: url('https://img-fotki.yandex.ru/get/194549/29644339.5/0_d6c60_1d7815f0_orig');
  background-color: transparent;
  transition: all 0.35s linear;
}

.s_arrow_rotate {
  transform: rotate(-180deg);
}
